Repository aragon/js-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: common, client, ipfs, client-common

.github/labeler.yml:

# These labels (common, client, ipfs and client-common) are only informative.
# While the labels <pkg-name>-release are for trriggering the release process.

common:
- ./modules/common/**/*
- ./modules/common/*

client:
- ./modules/client/**/*
- ./modules/client/*

ipfs:
- ./modules/ipfs/**/*
- ./modules/ipfs/*

client-common:
- ./modules/client-common/**/*
- ./modules/client-common/*

fix: update return type of proposal approver, grab address directly
  modules/client/src/multisig/internal/types.ts
  modules/client/src/multisig/internal/utils.ts
Labels: client

fix: failing tests
  modules/client/CHANGELOG.md
  modules/client/package.json
  modules/client/test/integration/multisig-client/methods.test.ts
Labels: client

fix: invalid satsuma endpoint
  modules/client/test/integration/constants.ts
Labels: client

fix: change subgraph to live
  modules/client/test/integration/constants.ts
Labels: client

fix: error in mock testing
  modules/client/test/integration/multisig-client/methods.test.ts
Labels: client

fix: APP-3038 - update return type of proposal approver, grab address directly (#331)
  modules/client/CHANGELOG.md
  modules/client/package.json
  modules/client/src/multisig/internal/types.ts
  modules/client/src/multisig/internal/utils.ts
  modules/client/test/integration/constants.ts
  modules/client/test/integration/multisig-client/methods.test.ts
Labels: client

fix: addapt subgraph queries to new version of subgraph
  modules/client/CHANGELOG.md
  modules/client/package.json
  modules/client/src/multisig/internal/graphql-queries/proposal.ts
  modules/client/src/multisig/internal/types.ts
  modules/client/src/multisig/internal/utils.ts
Labels: client

fix: tests
  modules/client/test/integration/multisig-client/methods.test.ts
Labels: client

fix: adapt subgraph queries to new version of subgraph (#332)
  modules/client/CHANGELOG.md
  modules/client/package.json
  modules/client/src/multisig/internal/graphql-queries/proposal.ts
  modules/client/src/multisig/internal/types.ts
  modules/client/src/multisig/internal/utils.ts
  modules/client/test/integration/multisig-client/methods.test.ts
Labels: client

chore: update versions
  modules/client-common/package.json
  modules/client/package.json
  yarn.lock
Labels: client, client-common

fix: subgraph link
  modules/client/test/integration/constants.ts
Labels: client

chore(sdk): update config version (#333)
  modules/client-common/package.json
  modules/client/package.json
  modules/client/test/integration/constants.ts
  yarn.lock
Labels: client, client-common

chore: add metadataHash to response
  modules/client/CHANGELOG.md
  modules/client/package.json
  modules/client/src/addresslistVoting/internal/utils.ts
  modules/client/src/internal/utils.ts
  modules/client/src/multisig/internal/utils.ts
  modules/client/src/tokenVoting/internal/utils.ts
  modules/client/src/types.ts
Labels: client

chore: add metadataHash to response
  modules/client-common/CHANGELOG.md
  modules/client-common/package.json
  modules/client-common/src/types.ts
Labels: client-common

chore: add metadataHash to response (#334)
  modules/client-common/CHANGELOG.md
  modules/client-common/package.json
  modules/client-common/src/types.ts
  modules/client/CHANGELOG.md
  modules/client/package.json
  modules/client/src/addresslistVoting/internal/utils.ts
  modules/client/src/internal/utils.ts
  modules/client/src/multisig/internal/utils.ts
  modules/client/src/tokenVoting/internal/utils.ts
  modules/client/src/types.ts
Labels: client, client-common

fix: make metadatahash optional
  modules/client-common/CHANGELOG.md
  modules/client-common/package.json
  modules/client-common/src/types.ts
  modules/client/CHANGELOG.md
  modules/client/package.json
  modules/client/src/types.ts
Labels: client, client-common

fix: make metadatahash optional (#335)
  modules/client-common/CHANGELOG.md
  modules/client-common/package.json
  modules/client-common/src/types.ts
  modules/client/CHANGELOG.md
  modules/client/package.json
  modules/client/src/types.ts
Labels: client, client-common

chore: update configs dependencies
  modules/client-common/CHANGELOG.md
  modules/client-common/package.json
  modules/client/CHANGELOG.md
  modules/client/package.json
Labels: client, client-common

chore: add support for zkSync
  modules/client-common/src/context-core.ts
  modules/client-common/src/internal/interfaces.ts
  modules/client-common/src/internal/modules/web3.ts
  modules/client-common/src/internal/types.ts
  modules/client-common/src/types.ts
  modules/client-common/src/utils.ts
  modules/client-common/test/unit/context.test.ts
  modules/client/src/addresslistVoting/internal/client/encoding.ts
  modules/client/src/addresslistVoting/internal/client/estimation.ts
  modules/client/src/addresslistVoting/internal/client/methods.ts
  modules/client/src/internal/client/encoding.ts
  modules/client/src/internal/client/estimation.ts
  modules/client/src/internal/client/methods.ts
  modules/client/src/multisig/internal/client/encoding.ts
  modules/client/src/multisig/internal/client/estimation.ts
  modules/client/src/multisig/internal/client/methods.ts
  modules/client/src/tokenVoting/internal/client/encoding.ts
  modules/client/src/tokenVoting/internal/client/estimation.ts
  modules/client/src/tokenVoting/internal/client/methods.ts
  modules/client/test/integration/client/methods.test.ts
  modules/client/test/unit/context.test.ts
  yarn.lock
Labels: client, client-common

feat: add support for zkSync sepolia (#336)
  modules/client-common/CHANGELOG.md
  modules/client-common/package.json
  modules/client-common/src/context-core.ts
  modules/client-common/src/internal/interfaces.ts
  modules/client-common/src/internal/modules/web3.ts
  modules/client-common/src/internal/types.ts
  modules/client-common/src/types.ts
  modules/client-common/src/utils.ts
  modules/client-common/test/unit/context.test.ts
  modules/client/CHANGELOG.md
  modules/client/package.json
  modules/client/src/addresslistVoting/internal/client/encoding.ts
  modules/client/src/addresslistVoting/internal/client/estimation.ts
  modules/client/src/addresslistVoting/internal/client/methods.ts
  modules/client/src/internal/client/encoding.ts
  modules/client/src/internal/client/estimation.ts
  modules/client/src/internal/client/methods.ts
  modules/client/src/multisig/internal/client/encoding.ts
  modules/client/src/multisig/internal/client/estimation.ts
  modules/client/src/multisig/internal/client/methods.ts
  modules/client/src/tokenVoting/internal/client/encoding.ts
  modules/client/src/tokenVoting/internal/client/estimation.ts
  modules/client/src/tokenVoting/internal/client/methods.ts
  modules/client/test/integration/client/methods.test.ts
  modules/client/test/unit/context.test.ts
  yarn.lock
Labels: client, client-common

chore: update commons config version to support zksync mainnet
  modules/client-common/CHANGELOG.md
  modules/client-common/package.json
  modules/client/CHANGELOG.md
  modules/client/package.json
  yarn.lock
Labels: client, client-common

chore: update commons config version to support zksync mainnet (#338)
  modules/client-common/CHANGELOG.md
  modules/client-common/package.json
  modules/client/CHANGELOG.md
  modules/client/package.json
  yarn.lock
Labels: client, client-common

add isActive to subgraph query
  modules/client/src/multisig/internal/client/methods.ts
  modules/client/src/multisig/internal/graphql-queries/members.ts
  modules/client/src/multisig/internal/interfaces.ts
  modules/client/src/multisig/internal/types.ts
  modules/client/test/integration/multisig-client/methods.test.ts
Labels: client

fix: only retrun active members on Multisig query
  modules/client/src/multisig/internal/client/methods.ts
Labels: client

fix: update query
  modules/client/src/multisig/internal/graphql-queries/members.ts
  modules/client/test/integration/multisig-client/methods.test.ts
Labels: client

fix: replace remove subgraph api endpoint
  modules/client-common/src/utils.ts
  modules/client/src/multisig/internal/client/methods.ts
  modules/client/test/integration/constants.ts
  modules/client/test/integration/core-modules/graphql.test.ts
  modules/client/test/integration/core-modules/ipfs.test.ts
Labels: client, client-common

feat: update changelog and package.json
  modules/client/CHANGELOG.md
  modules/client/package.json
Labels: client

fix: only retrun active members on Multisig query (#340)
  modules/client-common/src/utils.ts
  modules/client/CHANGELOG.md
  modules/client/package.json
  modules/client/src/multisig/internal/client/methods.ts
  modules/client/src/multisig/internal/graphql-queries/members.ts
  modules/client/test/integration/constants.ts
  modules/client/test/integration/core-modules/graphql.test.ts
  modules/client/test/integration/core-modules/ipfs.test.ts
  modules/client/test/integration/multisig-client/methods.test.ts
Labels: client, client-common

feat: Add includeMetadata parameter to getPlugin and getPlugins functions
  modules/client/CHANGELOG.md
  modules/client/package.json
  modules/client/src/internal/client/methods.ts
  modules/client/src/types.ts
Labels: client

Update interfaces.ts
  modules/client/src/internal/interfaces.ts
Labels: client

Update CHANGELOG.md
  modules/client/CHANGELOG.md
Labels: client

feat: Add includeMetadata optional parameter to getPlugin and getPlugins functions (#341)
  modules/client/CHANGELOG.md
  modules/client/package.json
  modules/client/src/internal/client/methods.ts
  modules/client/src/internal/interfaces.ts
  modules/client/src/types.ts
Labels: client
